{
  "presets": ["@babel/preset-env", "inferno-app"],
  "plugins": [
    // ["module-resolver", {
    //   "root": ["."],
    //   "alias": {
    //       "react": "inferno-compat",
    //   }
    // }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }], 
    "@babel/plugin-proposal-export-default-from"]
}